.createTestContainer {
  width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0px 0px 15px 15px;
  background-color: #ccdbdc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  .questionContainer {
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    border: 1px solid black;
    width: 90%;
    height: 25px;
    padding: 5px;
  }
  

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}
