.infoBlock {
  gap: 40px;
  padding: 10px 20px 10px 10px;
  margin-top: 10px;
  align-items: center;
  background-color: #80CED7;
  border-radius: 20px;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  .infoBlockText {
    flex: 1 0;
    overflow: hidden;
    position: relative;
    width: 1px;
    h2 {
      font-size: 18px;
      font-weight: 800;
      line-height: 1.5em;
    }
  }

  .infoBlockImg {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100px;
    overflow: hidden;
  }

  .arrowImage {
    margin-right: 25px;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    .arrowImage {
      transform: translateX(+8px);
    }
  }
}
